<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <h1>My To-Do List</h1>

    <form action="/add" method="POST">
      <input type="text" name="task" placeholder="Add a new task" required>
      <button type="submit">Add</button>
    </form>

  <ul>
    <!-- Use <% %> for running JavaScript code without output: -->
   <% todos.forEach((todo)=>{ %> 
        <li>
            <!-- Use <%= %> for running JavaScript code with output: -->
<%= todo.task %>
<form action="/delete/<%= todo._id %>" method="post">
    <button type="submit">submit</button>
</form>
</li>
   <% }) %>
  
  </ul>
  </div>

</body>
</html>
